.top-logo {
  display: none;
}

/* WARNING VIEW */
/******************************************/
.warning-view {
  background-color: #84754E;
  text-align: center;
}

.warning-view .element-container {
  padding: 66px 12px 58px 12px;
}

.warning-view .title {
  padding-bottom: 10px;
  font-family: 'ano_blackwide';
  text-transform: uppercase;
  font-size: 1.3em;
}

.warning-view .text {
  font-size: 1.2em;
  line-height: 1.3em;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .warning-view .element-container {
    padding: 56px 124px;
  }

  .warning-view .title {
    padding-bottom: 18px;
    font-size: 1.5em;
  }

  .warning-view .text {
    font-size: 1.3em;
  }
}

/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {
  .warning-view .element-container {
    padding: 96px 108px 102px 108px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .warning-view .element-container {
    padding: 98px 0;
    width: 768px;
    margin: 0 auto;
  }
}
