.top-logo .black {
  display: block;
}

.top-logo .white {
  display: none;
}

.cart-menu {
  color: #000;
}

.main-menu #menu-btn span {
  background: #000;
}

/* PRODUCT DETAIL VIEW */
/******************************************/
.product-detail-view {
  padding: 60px 16px 60px 16px;
  color: #000;
  text-align: center;
}

.product-detail-view .image-container {
  width: 100%;
  float: left;
}

.product-detail-view .content-container {
  width: 100%;
  float: left;
}

.product-detail-view .back-nav {
  padding: 48px 0 0 0;
  font-family: 'inconsolatabold';
  font-size: 1.3em;
}

.product-detail-view .back-link {
  vertical-align: top;
  line-height: 2em;
}

.product-detail-view .back-link a,
.product-detail-view .back-link a:visited,
.product-detail-view .back-link a:active,
.product-detail-view .back-link a:hover {
  color: inherit;
  text-decoration: underline;
}

.product-detail-view .back-link img {
  width: 36px;
}

.product-detail-view .back-nav .fa {
  font-size: 2em;
}

.product-detail-view .back-nav .link {
  vertical-align: top;
  display: inline-block;
  padding: 0 0 0 20px;
}

.product-detail-view .cart-btns {
  padding: 14px 0 32px 0;
}

.product-detail-view .cart-btns .msg {
  display: inline-block;
  padding: 10px;
  color: #84754E;
  border: 1px solid #84754E;
}

.product-detail-view .title  {
  padding: 30px 0 38px 0;
}

.product-detail-view .title h1 {
  font-size: 2.8em;
}

.product-detail-view .image {
  padding: 0 0 64px 0;
}

.product-detail-view .image img {
  width: 100%;
  height: auto;
}

.product-detail-view .description {
  padding: 48px 14px;
  line-height: 1.5em;
}

.product-detail-view .description strong {
  font-size: 1.2em;
  text-transform: uppercase;
}

.product-detail-view .description a,
.product-detail-view .description a:visited,
.product-detail-view .description a:active {
  color: #84754E;
  text-decoration: underline;
}

.product-detail-view .description a:hover {
  color: inherit;
  text-decoration: none;
}

.product-detail-view .description table {
  width: 100%;
  margin: 16px 10px 0 10px;
  color: #84754E;
  border-top: 2px solid rgba(132, 117, 78, 0.17);
  border-bottom: 2px solid rgba(132, 117, 78, 0.17);
}

.product-detail-view .description table tr {
  height: auto;
}

.product-detail-view .description table tr:first-child td { 
  padding-top: 10px; 
}

.product-detail-view .description table tr:last-child td { 
  padding-bottom: 10px; 
}

.product-detail-view .description table td {
  vertical-align: top;
  padding: 0;
}

.product-detail-view .description em {
  font-style: normal;
  color: #84754E;
}

.product-detail-view .description h1 {
  padding: 50px 0 12px 0;
  font-family: 'inconsolatabold';
  font-size: 1.2em;
}

.product-detail-view .description h2 {
  font-family: 'inconsolataregular';
  font-size: 1.2em;
  line-height: 1.3em;
}

/* PRODUCT EXPLORE VIEW */
/******************************************/
.product-explore-view {
  padding: 64px 36px;
  background-color: #f2f1ed;
  color: #000;
  text-align: center;
}

.product-explore-view .products-container {
  position: relative;
}

.product-explore-view .arrow {
  position: absolute;
  top: 30%;
  height: 30px;
  font-size: 30px;
  margin-top: -15px;
}
.product-explore-view .arrow:hover {
  cursor: pointer;
}

.product-explore-view .arrow img {
  width: 36px;
}

.product-explore-view .prev-arrow {
  left: 0;
}

.product-explore-view .next-arrow {
  right: 0;
}

.product-explore-view .products {
  position: relative;
  margin: 42px 60px 0 60px;
}

.product-explore-view .product {
  position: relative;
  margin: 0 auto;
  width: 136px;
  text-align: center;  
}

.product-explore-view .product-container:focus {
  outline: none;
}

.product-explore-view .product a,
.product-explore-view .product a:visited,
.product-explore-view .product a:active,
.product-explore-view .product a:hover {
  color: inherit;
  text-decoration: none;
}

.product-explore-view .product .detail {
  padding-top: 22px;
}

.product-explore-view .product .detail .title {
  height: 36px;
  overflow: hidden;
}

.product-explore-view .image {
  display: inline-block;
  width: auto;
  height: 220px;
}

.product-explore-view .image img {
  width: auto;
  height: 100%;
}

.product-explore-view .sticker-container {
  position: absolute;
  top: 14px;
  left: -34px;
  width: 100%;
}

.product-explore-view .sticker {
  width: 68px;
  margin: 0 auto;
}

.product-explore-view .cart-btns {
  padding-top: 16px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .product-detail-view {
    padding: 124px 0 60px 0;
    width: 716px;
    margin: 0 auto;
    text-align: left;
  }

  .product-detail-view .image-container {
    width: 316px;
  }

  .product-detail-view .content-container {
    width: 400px;
  }

  .product-detail-view .title  {
    padding: 12px 0 48px 0;
  }

  .product-detail-view .price-details .price {
    font-size: 1.3em;
  }

  .product-detail-view .price-details .min {
    padding-top: 4px;
  }

  .product-detail-view .image {
    padding: 12px 72px 0 0;
    text-align: right;
    height: 600px;
  }

  .product-detail-view .description {
    padding: 48px 0 28px 0;
  }

  .product-detail-view .description table {
    margin: 16px 0 0 0;
  }

  .product-detail-view .cart-btns {
    padding: 18px 0 38px 0;
  }

  .product-detail-view .description strong {
    font-size: 1.3em;
  }

  .product-detail-view .description h1 {
    padding: 30px 0 4px 0;
    font-size: 1.3em;
  }

  .product-explore-view {
    padding: 94px 46px;
  }

  .product-explore-view .products {
    margin-top: 78px;
  }
}

/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {
  .product-detail-view {
    padding: 124px 0 60px 0;
  }

  .product-detail-view .title h1 {
    font-size: 3em;
  }

  .product-detail-view .description {
    font-size: 1.2em;
  }

  .product-explore-view {
    padding: 94px 98px 146px 98px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .product-detail-view {
    padding: 124px 0 60px 0;
    width: 866px;
  }

  .product-detail-view .image-container {
    width: 316px;
  }

  .product-detail-view .content-container {
    width: 550px;
  }

  .product-detail-view .title h1 {
    font-size: 3.9em;
  }

  .product-detail-view .price-details .price {
    font-size: 1.5em;
  }

  .product-detail-view .price-details .min {
    padding-top: 8px;
    font-size: 1.2em;
  }

  .product-detail-view .image {
    padding-right: 96px;
  }

  .product-detail-view .description {
    font-size: 1.2em;
  }

  .product-explore-view {
    padding: 128px 0 108px 0;
  }

  .product-explore-view .products-container {
    width: 1134px;
    margin: 0 auto;
  }

  .product-explore-view .products {
    margin-top: 68px;
  }
}
