body {
  background: #f2f1ed;
}

.top-logo .black {
  display: block;
}

.top-logo .white {
  display: none;
}

.cart-menu {
  color: #000;
}

.main-menu #menu-btn span {
  background: #000;
}

/* PRODUCTS INTRO VIEW */
/******************************************/
.products-intro-view {
  padding: 94px 16px 0 16px;
  color: #000;
  text-align: center;
}

.products-intro-view h1 {
  font-size: 3.3em;
}

.products-intro-view .intro {
  padding: 38px 18px 38px 18px;
}

.products-intro-view .links {
  padding: 36px 0 24px 0;
}

.products-intro-view .link {
  color: #9B9B9B;
  padding: 0 7px;
  text-decoration: none;
}
.products-intro-view .link:first-child {
  padding-left: 0;
}
.products-intro-view .link:last-child {
  padding-right: 0;
}

.products-intro-view .link:hover {
  cursor: pointer;
  text-decoration: underline;
}
.products-intro-view .link.active {
  color: #000000;
  text-decoration: underline;
}

/* PRODUCTS VIEW */
/******************************************/
.products-view {
  padding: 0 16px 48px 16px;
}

.products-view .product-view {
  padding: 38px 0 30px 0;
  position: relative;
  text-align: center;
  color: #000;
}

.products-view .product-view a,
.products-view .product-view a:visited,
.products-view .product-view a:active,
.products-view .product-view a:hover {
  color: inherit;
  text-decoration: none;
}

.products-view .image {
  height: 212px;
}

.products-view .image img {
  width: auto;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.products-view .product-view:hover .image img {
  margin-top: -2%;
  height: 105%;
}

.products-view .sticker-container {
  position: absolute;
  top: 64px;
  left: -34px;
  width: 100%;
}

.products-view .sticker {
  width: 68px;
  margin: 0 auto;
}

.products-view .title {
  padding: 12px 12px 0 12px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .products-intro-view {
    padding: 124px 38px 0 38px;
  }

  .products-intro-view h1 {
    font-size: 5em;
  }

  .products-intro-view .intro {
    padding: 38px 80px 38px 80px;
  }

  .products-intro-view .links {
    padding: 50px 0 14px 0;
    text-align: right;
  }

  .products-view {
    padding: 0 38px 68px 38px;
  }

  .products-view .product-view {
    padding: 38px 0 40px 0;
  }

  .products-view .image {
    height: 224px;
  }

  .products-view .sticker-container {
    top: 78px;
    left: -38px;
  }

  .products-view .title {
    padding-top: 20px;
  }
}

/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {
  .products-intro-view {
    padding: 124px 108px 0 108px;
  }

  .products-intro-view h1 {
    font-size: 5.8em;
  }

  .products-intro-view .intro {
    padding: 38px 50px 38px 50px;
    font-size: 1.2em;
    line-height: 1.3em;
  }

  .products-intro-view .links {
    padding: 38px 0 14px 0;
  }

  .products-view {
    padding: 60px 108px 110px 108px;
  }

  .products-view .sticker-container {
    top: 60px;
    left: -56px;
  }

  .products-view .title {
    padding-top: 24px;
  }

  .products-view .product-view {
    padding: 44px 0 44px 0;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .products-intro-view {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    width: 1114px;
  }

  .products-intro-view .intro {
    padding: 44px 202px 44px 202px;
    font-size: 1.3em;
  }

  .products-intro-view .links {
    padding: 62px 0 20px 0;
  }

  .products-view {
    margin: 0 auto;
    padding: 0 0 170px 0;
    width: 1114px;
  }

  .products-view .product-view {
    padding: 112px 0 40px 0;
    font-size: 1.2em;
  }

  .products-view .image {
    height: 338px;
  }

  .products-view .sticker-container {
    top: 140px;
    left: -44px;
  }

  .products-view .sticker {
    width: 78px;
  }

  .products-view .title {
    padding-top: 28px;
  }
}
