body {
  margin: 0;
  padding: 0;
  font-family: 'inconsolataregular';
  font-size: 12px;
  line-height: 1.3em;
  color: #FFF;
  background-color: #FFF;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin: 0;
  padding: 0;
  font-family: 'gilroybold';
  font-weight: normal;
}

h1 {
  font-family: 'gilroybold';
  font-size: 3em;
  line-height: 1em;
}

h2 {
  font-size: 1.8em;
  line-height: 1.1em;
}

.content {
  display: none;
}

/* BOOTSTRAP */
/******************************************/
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

/* IMGS */
/******************************************/
.image {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
}

img.scale {
  opacity: 0;
  width: 100%;
}

/* MENUS */
/******************************************/
.cart-menu {
  position: fixed;
  top: 14px;
  right: 64px;
}

.cart-menu .cart {
  display: inline-block;
  font-size: 2.6em;
}

.cart-menu .items {
  display: inline-block;
  padding-top: 8px;
  vertical-align: top;
  font-size: 1.3em;
}

.main-menu {
  position: fixed;
  top: 18px;
  right: 18px;
}

#menu-btn {
  width: 30px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#menu-btn span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #FFF;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#menu-btn.open span {
  background: #FFF;
}

#menu-btn span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#menu-btn span:nth-child(2) {
  top: 9px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#menu-btn span:nth-child(3) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#menu-btn.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#menu-btn.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#menu-btn.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 18px;
  left: 8px;
}

#menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 0px;
  -webkit-transition: height 0.5s, opacity 0.3s;
  transition: height 0.5s, opacity 0.3s;
  background-color: #84754E;
  overflow: hidden;
}

#menu-overlay a,
#menu-overlay a:visited,
#menu-overlay a:active,
#menu-overlay a:hover {
  color: inherit;
  text-decoration: none;
}

#menu-overlay a:hover {
  color: #ffe073;
}

#menu-overlay .menus {
  transform: translateY(-50%);
  top: 50%;
  position: relative;
  width: 100%;
  text-align: center;
  color: #FFF;
  font-size: 2.2em;
  line-height: 1.3em;
  overflow: hidden;
}

#menu-overlay .menus li {
  font-family: 'ano_blackwide';
  text-transform: uppercase;
  padding: 9px 42px;
}

/* HERO */
/******************************************/
.hero {
  position: relative;
  width: 100%;
  min-height: 600px;
}

.hero .hero-container {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
}

.hero .hero-container .hero-carousel {
  width: 100%;
  height: 100%;
}

.hero .hero-container .hero-item {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.hero .strap {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 0 12px;
}

.hero .strap .logo {
  margin: 0 auto;
  width: 226px;
}

.hero .strap .logo img {
  width: 100%;
}

.hero .down {
  position: absolute;
  bottom: 32px;
  width: 100%;
  color: #FFF;
  text-align: center;
  font-size: 4em;
  line-height: 1em;
}
.hero .down:hover {
  cursor: pointer;
}

/* FOOTER VIEW */
/******************************************/
.footer-view {
  padding: 74px 16px 92px 16px;
  text-align: center;
  background-color: #000;
}

.footer-view a,
.footer-view a:visited,
.footer-view a:active,
.footer-view a:hover {
  color: inherit;
  text-decoration: none;
}

.footer-view .subscribe {
  padding-bottom: 38px;
  font-size: 1.2em;
  line-height: 1.3em;
}

.footer-view .subscribe .msg {
  padding: 0 32px 14px 32px;
}

.footer-view .subscribe form * {
  margin: 0;
  padding: 0 12px;
  height: 38px;
  border-radius: 0;
  color: #FFF;
  background-color: transparent;
  vertical-align: top;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;  
}

.footer-view .subscribe .field {
  width: 226px;
  border: none;
  border-top: 1px #FFF solid;
  border-left: 1px #FFF solid;
  border-bottom: 1px #FFF solid;
}

.footer-view .subscribe .btn {
  border: 1px #FFF solid;
}

.footer-view .social li {
  display: inline-block;
  padding: 0 12px;
  font-size: 2em;
}

.footer-view .logo {
  padding: 64px 0 52px 0;
  margin: 0 auto;
  width: 92px;
}

.footer-view .logo img {
  width: 100%;
}

.footer-view .links {
  padding-bottom: 60px;
  font-size: 1.2em;
}

.footer-view .links li {
  padding: 3px 0;
}

.footer-view .top {
  font-size: 6em;
  height: 46px;
  color: #FFF;
}
.footer-view .top:hover {
  cursor: pointer;
}

.footer-view .copyright {
  padding-top: 60px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1 {
    font-size: 6.5em;
  }

  h2 {
    font-size: 2em;
  }

  #menu-overlay .menus {
    font-size: 2.6em;
  }

  #menu-overlay .menus li {
    padding: 12px 0;
  }

  .hero .strap .logo {
    width: 450px;
  }
}

/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {
  #menu-overlay .menus {
    font-size: 2.5em;
  }

  #menu-overlay .menus li {
    padding: 10px 0;
  }

  .hero .strap .logo {
    width: 312px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  h1 {
    font-size: 7.5em;
  }

  #menu-overlay .menus {
    font-size: 2.6em;
  }

  #menu-overlay .menus li {
    padding: 12px 0;
  }

  .hero .strap .logo {
    width: 454px;
  }
}
