body {
  margin: 0;
  padding: 0;
  font-family: 'inconsolataregular';
  font-size: 13px;
  line-height: 1.4em;
  letter-spacing: 0.08em;
  color: #FFF;
  background-color: #FFF;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin: 0;
  padding: 0;
  font-family: 'ano_blackwide';
  text-transform: uppercase;
  font-weight: normal;
}

h1 {
  font-size: 3em;
  line-height: 1.1em;
}

h2 {
  font-size: 1.8em;
  line-height: 1.1em;
}

strong {
  font-family: 'inconsolatabold';
  font-weight: normal;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
}

.content {
  display: none;
}

/* BOOTSTRAP */
/******************************************/
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

/* IMGS */
/******************************************/
.image {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
}

img.scale {
  opacity: 0;
  width: 100%;
}

/* MOMENT */
/******************************************/
.moment {
  display: none;
}

/* MENUS */
/******************************************/
.top-logo {
  position: absolute;
  top: 12px;
  left: 12px;
}

.top-logo .logo {
  width: 64px;
}

.top-logo .white {
  display: block;
}

.top-logo .black {
  display: none;
}

#cart-view {
  display: none;
}

.cart-menu {
  position: fixed;
  top: 7px;
  right: 50px;
  -webkit-transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -o-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}
.cart-menu.dark {
  color: #000;
}

.cart-menu .cart {
  display: inline-block;
  padding-top: 4px;
  font-size: 2em;
}

.cart-menu .cart a,
.cart-menu .cart a:visited,
.cart-menu .cart a:active,
.cart-menu .cart a:hover {
  color: inherit;
  text-decoration: none;
}

.cart-menu .items {
  display: inline-block;
  padding-top: 8px;
  vertical-align: top;
  font-size: 1.3em;
}
.cart-menu .update-colour {
  color: #84754E;
}

.main-menu {
  position: fixed;
  top: 16px;
  right: 10px;
}

#menu-btn {
  width: 24px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#menu-btn span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #FFF;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.main-menu.dark #menu-btn span {
  background: #000;
}

#menu-btn.open span {
  background: #FFF;
}

#menu-btn span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#menu-btn span:nth-child(2) {
  top: 6px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#menu-btn span:nth-child(3) {
  top: 12px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#menu-btn.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

#menu-btn.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#menu-btn.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 17px;
  left: 8px;
}

#menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 0px;
  -webkit-transition: height 0.5s, opacity 0.3s;
  transition: height 0.5s, opacity 0.3s;
  background-color: #84754E;
  overflow: hidden;
}

#menu-overlay a,
#menu-overlay a:visited,
#menu-overlay a:active,
#menu-overlay a:hover {
  color: inherit;
  text-decoration: none;
}

#menu-overlay a:hover {
  color: #a69878;
}

#menu-overlay .menus {
  transform: translateY(-50%);
  top: 50%;
  position: relative;
  width: 100%;
  text-align: center;
  color: #FFF;
  font-size: 2.2em;
  line-height: 1.3em;
  overflow: hidden;
}

#menu-overlay .menus li {
  font-family: 'ano_blackwide';
  text-transform: uppercase;
  padding: 8px 42px;
}

/* BREAKS */
/******************************************/
.break {
  width: 100%;
  height: 5px;
  background: url("../images/zigzag_black_outline-short.svg") repeat-x;
}
.break.light {
  background: url("../images/zigzag_light-grey_outline-short.svg") repeat-x;
}

/* CART */
/******************************************/
.cart .btn {
  height: 34px;
  color: #FFF;
  background: #000;
  border-radius: 0;
}
.cart .btn.primary-btn {
  background: #84754E;
}
.cart .btn.hollow-btn {
  color: #000;
  border: 1px solid #000;
  background: transparent;
}

.cart .link {
  text-transform: uppercase;
  color: #84754E;
}
.cart .link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.cart .qty-selector {
  margin: 0 8px 0 0;
  vertical-align: top;
  display: inline-block;
  border: 1px solid #000;
  height: 34px;
  line-height: 34px;
  font-size: 1.2em;
}

.cart .qty-selector .btn-qty {
  padding: 0 6px;
}
.cart .qty-selector .btn-qty:hover {
  cursor: pointer;
}

.cart .qty-selector .qty {
  display: inline-block;
  width: 20px;
  text-align: center;
}

/* HERO */
/******************************************/
.hero {
  position: relative;
  width: 100%;
  min-height: 500px;
}

.hero .hero-container {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
}

.hero .hero-container .hero-carousel {
  width: 100%;
  height: 100%;
}

.hero .hero-container .hero-item {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.hero .strap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 0 12px;
  font-family: 'ano_blackwide';
  text-transform: uppercase;
  font-weight: normal;
  font-size: 3.3em;
  line-height: 1.1em;
}

.hero .strap .logo {
  margin: 0 auto;
  width: 226px;
}

.hero .strap .logo img {
  width: 100%;
}

.hero .down {
  position: absolute;
  bottom: 32px;
  width: 100%;
  color: #FFF;
  text-align: center;
  font-size: 6em;
  line-height: 1em;
}
.hero .down:hover {
  cursor: pointer;
}

.hero .down img {
  width: 44px;
}

/* PAGE HIGHLIGHT VIEW */
/******************************************/
.page-highlight-view {
  padding: 37px 8px 33px 8px;
}

.page-highlight-view .element-container {
  padding: 13px 8px 13px 8px;
}

.page-highlight-view .content-container {
  position: relative;
}

.page-highlight-view .content-container a,
.page-highlight-view .content-container a:visited,
.page-highlight-view .content-container a:active,
.page-highlight-view .content-container a:hover {
  color: inherit;
  text-decoration: none;
}

.page-highlight-view .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.page-highlight-view .content-container:hover .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.page-highlight-view .element-container .text {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 6px 18px 20px 18px;
}

.page-highlight-view .element-container .text .title {
  display: inline-block;
  margin: 15px 0 16px 0;
  padding-bottom: 4px;
  font-family: 'ano_blackwide';
  font-size: 2.4em;
  line-height: 1em;
  text-transform: uppercase;
}

.page-highlight-view .content-container:hover .text .title {
  border-bottom: 4px solid #FFF;
}

.page-highlight-view .element-container .text .synopsis {
  display: none;
  font-size: 1.5em;
  line-height: 1.3em;
}
.page-highlight-view .content-container:hover .text .synopsis {
  display: block;
}

/* QUOTE VIEW */
/******************************************/
.quote-view {
  padding: 0 16px 44px 16px;
  font-family: 'ano_blackwide';
  color: #84754E;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.2em;
  line-height: 1.2em;
}

/* FEATURE PHOTO VIEW */
/******************************************/
.feature-photo-view .blank {
  height: 200px;
}

.feature-photo-view .image-window {
  min-height: 282px;
  background-position: center;
}

.feature-photo-view .parallax-window {
  min-height: 282px;
  background: transparent;
}

.feature-photo-view .feature-caption {
  padding: 8px 15px;
  color: #2E2E2E;
  font-size: 0.8em;
}

/* PAGE EXTRA HIGHLIGHT VIEW */
/******************************************/
.page-extra-highlight-view {
  padding: 40px 13px;
}

.page-extra-highlight-view .element-container {
  padding: 0 3px;
}

.page-extra-highlight-view .content-container {
  position: relative;
}

.page-extra-highlight-view .content-container a,
.page-extra-highlight-view .content-container a:visited,
.page-extra-highlight-view .content-container a:active,
.page-extra-highlight-view .content-container a:hover {
  color: inherit;
  text-decoration: none;
}

.page-extra-highlight-view .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.page-extra-highlight-view .element-container .text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.page-extra-highlight-view .element-container .text .title-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  height: 1em;
}

.page-extra-highlight-view .element-container .text .title {
  padding-bottom: 0;
  font-family: 'ano_blackwide';
  text-transform: uppercase;
  font-size: 1.1em;
  line-height: 1em;
}

.page-extra-highlight-view .content-container:hover .text .title {
  border-bottom: 4px solid #FFF;
}

/* FOOTER VIEW */
/******************************************/
.footer-view {
  padding: 74px 16px 92px 16px;
  text-align: center;
  background-color: #000;
}

.footer-view li {
  padding: 3px 0;
}

.footer-view a,
.footer-view a:visited,
.footer-view a:active,
.footer-view a:hover {
  color: inherit;
  text-decoration: none;
}

.footer-view .subscribe {
  padding-bottom: 38px;
  font-size: 1.2em;
  line-height: 1.3em;
}

.footer-view .subscribe .msg {
  padding: 0 32px 14px 32px;
}

.footer-view .subscribe form .field,
.footer-view .subscribe form .btn {
  margin: 0;
  padding: 0 12px;
  height: 38px;
  border-radius: 0;
  color: #FFF;
  background-color: transparent;
  vertical-align: top;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;  
}

.footer-view .subscribe .field {
  width: 226px;
  border: none;
  border-top: 1px #FFF solid;
  border-left: 1px #FFF solid;
  border-bottom: 1px #FFF solid;
}

.footer-view .subscribe .btn {
  border: 1px #FFF solid;
}

.footer-view .subscribe .help-block {
  display: none;
  margin: 0;
  padding-top: 16px;
}

.footer-view .subscribe .has-error .help-block {
  color: #FFF;
}

.footer-view .subscribe .thanks {
  display: none;
  padding-top: 16px;
}

.footer-view .social li {
  display: inline-block;
  padding: 0 12px;
  font-size: 2em;
}

.footer-view .logo {
  padding: 64px 0 52px 0;
  margin: 0 auto;
  width: 92px;
}

.footer-view .logo img {
  width: 100%;
}

.footer-view .location {
  font-size: 1.2em;
}

.footer-view .location .data {
  padding-top: 4px;
}

.footer-view .data li {
  padding: 5px 0;
}

.footer-view .links {
  padding-bottom: 60px;
  font-size: 1.2em;
}

.footer-view .top {
  font-size: 6em;
  height: 46px;
  color: #FFF;
}
.footer-view .top:hover {
  cursor: pointer;
}

.footer-view .copyright {
  padding-top: 60px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1 {
    font-size: 6.5em;
  }

  h2 {
    font-size: 1.8em;
  }

  .cart .btn {
    padding: 0 14px;
    height: 37px;
    line-height: 37px;
  }

  .cart .qty-selector {
    height: 37px;
    line-height: 37px;
  }
  .cart .qty-selector .btn-qty {
    padding: 0 10px;
  }

  .top-logo {
    position: fixed;
    top: 17px;
    left: 18px;
  }

  .top-logo .logo {
    width: 55px;
  }

  .cart-menu {
    top: 15px;
    right: 60px;
  }

  .main-menu {
    top: 24px;
    right: 20px;
  }

  #menu-overlay .menus {
    font-size: 2.6em;
  }

  #menu-overlay .menus li {
    padding: 8px 0;
  }

  .hero .strap {
    font-size: 5em;
  }

  .hero .strap .logo {
    width: 450px;
  }

  .page-highlight-view {
    padding: 94px 15px 82px 15px;
  }

  .page-highlight-view .element-container {
    padding: 0 5px 0 5px;
  }

  .page-highlight-view .element-container .text .title {
    font-size: 2.2em;
  }

  .footer-view .subscribe .field {
    width: 330px;
  }

  .footer-view .footer-block {
    padding: 88px 56px 0 56px;
  }

  .quote-view {
    padding: 0 122px 104px 122px;
    font-size: 3.2em;
    line-height: 1.2em;
  }

  .feature-photo-view .image-window,
  .feature-photo-view .parallax-window {
    min-height: 342px;
  }

  .feature-photo-view .feature-caption {
    padding: 8px 20px;
    font-size: 1em;
  }

  .page-extra-highlight-view {
    padding: 106px 76px 142px 76px;
  }

  .page-extra-highlight-view .element-container {
    padding: 0 4px;
  }

  .page-extra-highlight-view .element-container .text .title {
    font-size: 2.1em;
  }

  .footer-view .logo,
  .footer-view .location,
  .footer-view .links,
  .footer-view .top {
    padding: 0;
    vertical-align: top;
    text-align: left;
  }

  .footer-view .logo {
    width: 100px;
    margin: 0;
  }

  .footer-view .top {
    text-align: right;
  }

  .footer-view .copyright {
    padding-top: 88px;
  }
}

/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {
  .top-logo {
    top: 16px;
    left: 18px;
  }

  .top-logo .logo {
    width: 70px;
  }

  #menu-overlay .menus {
    font-size: 2.5em;
  }

  #menu-overlay .menus li {
    padding: 6px 0;
  }

  .hero  .strap {
    font-size: 5.7em;
  }

  .hero .strap .logo {
    width: 312px;
  }

  .page-highlight-view {
    padding: 70px 25px 112px 25px;
  }

  .page-highlight-view .element-container {
    padding: 0 8px 0 8px;
  }

  .page-highlight-view .element-container .text {
    padding: 4px 20px 20px 20px;
  }

  .page-highlight-view .element-container .text .title {
    font-size: 2.4em;
  }

  .quote-view {
    padding: 0 138px 112px 138px;
    font-size: 4em;
    line-height: 1.1em;
  }

  .feature-photo-view .image-window,
  .feature-photo-view .parallax-window {
    min-height: 446px;
  }

  .feature-photo-view .feature-caption {
    padding: 8px 30px;
  }

  .page-extra-highlight-view {
    padding: 84px 182px 142px 182px;
  }

  .page-extra-highlight-view .element-container {
    padding: 0 6px;
  }

  .page-extra-highlight-view .element-container .text .title {
    font-size: 2.5em;
  }

  .footer-view .footer-block {
    padding: 88px 120px 0 120px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  h1 {
    font-size: 7.5em;
  }

  h2 {
    font-size: 2.1em;
  }

  .top-logo {
    top: 22px;
    left: 22px;
  }

  #menu-overlay .menus {
    font-size: 2.6em;
  }

  #menu-overlay .menus li {
    padding: 10px 0;
  }

  .hero .strap .logo {
    width: 454px;
  }

  .page-highlight-view {
    padding: 102px 44px 238px 44px;
  }

  .page-highlight-view .element-container {
    padding: 0 8px 0 8px;
  }

  .page-highlight-view .element-container .text {
    padding: 22px 220px 20px 40px;
  }

  .quote-view {
    padding-bottom: 238px;
    font-size: 5.8em;
    line-height: 1.2em;
  }

  .feature-photo-view .image-window,
  .feature-photo-view .parallax-window {
    min-height: 646px;
  }

  .feature-photo-view .feature-caption {
    padding: 8px 50px;
  }

  .page-extra-highlight-view {
    padding: 136px 0 152px 0;
    width: 932px;
    margin: 0 auto;
  }

  .page-extra-highlight-view .element-container {
    padding: 0 8px;
  }
}
